<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login - Nubank</title>
</head>

<body>
    <div class="logo">
        <img src="img/new-logo-white.svg" alt="">
    </div>
    <form action="">
        <p>Faça seu Login</p>
        <label for="cpf">CPF<input id="cpf" type="text"></label>
        <label for="password">Senha<input id="password" type="password"></label>
        <button>Continuar</button>
        <a href="#">Esqueci minha senha</a>
        <a href="#">Ainda não sou cliente</a>
    </form>
</body>

</html>