* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px black dotted; */
}

body {
    font-family: sans-serif;
    font-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    margin: 40px 0 40px 0;
}

h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 36px;
    color: rgb(36, 41, 46);
}

.login-card {
    background-color: rgb(246, 248, 250);
    border: 1px solid rgb(235, 237, 239);
    border-radius: 6px;
    margin: 40px auto 0px;
    padding: 30px;
}

.input-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-container label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-bottom: 8px;
    color: rgb(36, 41, 46);
}

.input-container input {
    all: unset;
    box-sizing: border-box;   
    width: 300px;
    height: 30px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(225,228,232);
    border-radius: 2px;
    padding: 5px 12px;
    margin: 5px auto;
}

.input-container input:focus{
    box-shadow: 0px 0px 0px 3px rgba(3,102,214, 0.3);
    border: 1px solid rgb(3,102,214)
}

.input-container input:focus::placeholder {
    color: #e5e5e5;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links > a {
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: rgb(3,102,214);
}

.sign-in{
    all: unset;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    padding: 12px 0;
    background-color: rgb(46,164,79);
    color: rgb(255,255,255);
    cursor: pointer;
}

button:hover{
    background-color: rgb(44,151,75);
}

button:focus {
    box-shadow: 0px 0px 0px 3px rgba(46,164,79,0.4);
}

button:active {
    background-color: rgb(41,142,70);
}

.invite {
    box-sizing: border-box;
    width: 366px;
    margin: 16px auto 10px;
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invite > p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-right: 10px;
}

p > a {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: rgb(3,102,214);
    cursor: pointer;
}

span {
    color: rgb(88,96,105);
}

.links-service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

ul {
    all: unset;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
}

li > a{
    text-decoration: none;
    margin: auto 10px;
    color: rgb(3,102,214);
    font-size: 14px;
}